<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.OrderServiceMapper">

    <select id="sumByOrderAmount" resultType="java.lang.Double">
        select sum(orders.amount) from orders
        where status =5 and
        order_time between #{beginTime} and #{endTime}

    </select>
    <select id="salesTop10" resultType="com.sky.dto.GoodsSalesDTO">
        select order_detail.name as name ,sum(order_detail.number) as number
        from orders join
        order_detail on
        orders.id = order_detail.order_id
        where orders.status=5
            and orders.order_time between #{begin} and #{end}
        group by dish_id order by sum(order_detail.number) desc limit 10;


    </select>
    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="map.begin != null and map.end != null">
                and order_time between #{map.begin} and #{map.end}
            </if>
            and status = 5
        </where>


    </select>
</mapper>